<div class="container contact-form">
    <div class="contact-image">
        <img src="http://springtownrodandgunclub.weebly.com/uploads/1/3/4/0/13408236/published/contact-3.jpg?1586995070"
            alt="rocket_contact" />
    </div>
    <form action="mailto:yashghwaghave@gmail.com" method="post" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <h3>Drop Us a Message</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="txtName" class="form-control" ngModel placeholder="Your Name *" required />
                </div>
                <div class="form-group">
                    <input type="text" name="txtEmail" class="form-control" ngModel placeholder="Your Email *"
                        required />
                </div>
                <div class="form-group">
                    <input type="text" name="txtPhone" class="form-control" ngModel placeholder="Your Phone Number *"
                        required />
                </div>
                <div class="form-group">
                    <input type="submit" name="btnSubmit" [disabled]="!form.valid" class="btnContact"
                        value="Send Message" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <textarea name="txtMsg" class="form-control" placeholder="Your Message *"
                        style="width: 100%; height: 150px;" ngModel required></textarea>
                </div>
            </div>
        </div>
    </form>
    <div *ngIf="formSubmitted" class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>Hi,we have recieved your request, we`ll contact you soon.</p>
    </div>
</div>