<div class="jumbotron bg-dark text-white"
    style="background-image: url('http://www.usfunds.com/media/images/slideshows/how-airports-make-money-11122018/1.jpg');">
    <h1 class="display-4" style="color: blue; font-weight:normal;font-family: time;">Airport Management System</h1>
    <p class="lead" style="background-color: blue; font-style: italic;">Airport Management System organises your Admin
        and Managerial Activities in
        an structured and efficient manner !!!!!!
    </p>
</div>