.footer-position {
    position: absolute;
    bottom: 0;
    width: 98%;
    height: 2.5rem;
    margin-bottom: 0px;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 56px; /* Footer height */
}
