<header class="jumbotron my-4 bg-light" style="color: black;">
    <h1 class="display-3">Admin DashBoard</h1>
    <br>
    <div class="row">
        <div class="col">
            <a routerLink="addPlane" class="btn btn-primary btn-lg">Plane Section</a>
        </div>
        <div class="col">
            <a routerLink="addPilot" class="btn btn-primary btn-lg">Pilot Section</a>
        </div>
        <div class="col">
            <a routerLink="addHangar" class="btn btn-primary btn-lg">Hangar Section</a>
        </div>
        <div class="col">
            <a routerLink="viewManagers" class="btn btn-primary btn-lg">View Managers</a>
        </div>
    </div>
</header>
<router-outlet></router-outlet>