input.ng-invalid.ng-touched{
    border-color: red;
}

select.ng-invalid.ng-touched{
    border-color: red;
}

.background{
    border: 2px solid #ddd;
    padding: 20px;
    background-color: rgb(248, 242, 247);
    border-radius: 2px;
    box-shadow: slategrey;
}